.listings-container{
    display:flex;
    flex-direction: column;
}

.listing-main{
    border:1px solid rgb(167, 167, 167);
    max-width:600px;
    min-width: 350px;
    margin:5px;
    box-sizing: border-box;
}

.listing-main:hover{
    border-color: black;
}

.listing-main a:hover{
    text-decoration: none;
}

.listing-content{
    display: flex;
}

.listing-image{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size:cover;
}

.listing-info{
    color: rgb(32, 32, 32);
    padding: 20px;
    box-sizing: border-box;
}