{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{category.name}}</h2>
    {% for listing in listings %}
        <a href="{% url "listing" listing.id %}">
            <div>
                <h3>{{listing.title}}</h3>
                <p>{{listing.description}}</p>
                <h5>${{listing.startingBid}}</h5>
                <div style="background-image: url({{listing.image}}); width: 200px; height:200px;">
            </div>
        </a>
    {% empty %}
        <h4>No Listings for this category.</h4>
    {% endfor %}
{% endblock %}