{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{category.name}}</h2>
    {% for listing in listings %}
        <div class="listing-main">
                <a href="{% url "listing" listing.id %}">
                    <div class="listing-content">
                        <div class="listing-image" style="background-image: url({{listing.image}});"></div>
                        <div class="listing-info">
                            <h3>{{listing.title}}</h3>
                            <p>{{listing.description}}</p>
                            <h6>Starting Bid: ${{listing.startingBid}}</h6>
                            {% for bid in bids %}
                                {% if bid.Listing_id == listing.id %}
                                    <h5> Current Bid: ${{bid.amount}} </h5>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </div>         
    {% empty %}
        <h4>No Listings for this category.</h4>
    {% endfor %}
{% endblock %}