{% extends "auctions/layout.html" %}

{% block body %}
        <div>
            <h3>{{listing.title}}</h3>
            <p>{{listing.description}}</p>
            <h5>${{listing.startingBid}}</h5>
            {% if listing.winner and winner%}
                <h6>You have won the Bidding!</h6>
            {% elif listing.winner %}
                <h6>Winning bidder - {{listing.winner}}</h6>
            {% endif %}
            <div style="background-image: url({{listing.image}}); width: 200px; height:200px;">
            <div style="background-color:white;">
                {% for comment in comments %}
                <h6>{{comment}}</h6>
                {% empty %}
                 <h6>No comments yet.</h6>
                {% endfor %}
            </div>


            {% if user.is_authenticated and listing.active%}
                <form action="{% url "bid" %}" method="post">
                    {% csrf_token %}        
                    <input type="number" name="bid" min="{{listing.startingBid}}">
                    <input type="hidden" value="{{listing.id}}" name="listing">
                    <input type="submit" value="Submit Bid">
                </form>
                <form action="{% url "watchlist" %}" method="post">
                    {% csrf_token %}        
                    <input type="hidden" value="{{listing.id}}" name="listing">
                    <input type="submit" value="Add to Watchlist">
                </form>
                <form action="{% url "comment" %}" method="post">
                    {% csrf_token %}    
                    <textarea name="comment"></textarea>
                    <input type="hidden" value="{{listing.id}}" name="listing">
                    <input type="submit" value="Add comment">
                </form>
                {% if creator and listing.active %}
                    <form action="{% url "close" %}" method="post">
                        {% csrf_token %}        
                        <input type="hidden" value="{{listing.id}}" name="listing">
                        <input type="submit" value="Close listing">
                    </form>
                {% endif %}
            {% endif %}
        </div>
{% endblock %}